main {
    margin-left: 10px;
    font-family: sans-serif;
    padding: 25px;
    border:navy solid;
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: darkmagenta;
    text-align: center;
    margin-top: 25px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    margin: 2px;
    font-size: medium;
}

#calc {
    margin-left: 130px;
}

#clearBtn {
    margin-left: 5px;
}

input {
    height: 38px;
    width: 160px;
}
